/* :root {
  --rotation : 30deg 
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0d1c29, #06131f);
  color: white;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
    background: linear-gradient(145deg, #0f1d27, #0b171f);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock {
  width: 300px;
  height: 300px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: 4px solid #ff9d2f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.clock::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  z-index: 10;
  background: #ff5a47;
}

.clock .number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  padding: 18px;
  color: #ffb638;
}

.clock .number span {
  display: inline-block;
  transform: rotate(calc(var(--rotation) * -1));
}


.hand {
  position: absolute;
  bottom: 50%;
  transform-origin: bottom;
  border-radius: 4px;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.hour {
  width: 8px;
  height: 30%;
  background: #ff9800;
  left: 50%;
  rotate: 87.5deg;
  background: #ffb638;
}

.minute {
  width: 6px;
  height: 40%;
  background: #03a9f4;
  left: 50%;
  rotate: 330deg;
  background: #d64faf;
}

.second {
  width: 4px;
  height: 45%;
  background: #03a9f4;
  left: 50%;
  rotate: 180deg;
}

.digital-clock {
  font-size: 3.5rem;
  font-weight: 600;
  padding: 20px 40px;
  background: linear-gradient(145deg, #0d1520, #0b0f18);
  border-radius: 15px;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #ff7ecf;
  text-shadow:
    0 0 2px #ff4fc3,
    0 0 2px #ff4fc3,
    0 0 2px #ff4fc3
}

.date {
  font-size: 1.4rem;
  margin-top: 10px;
  opacity: 0.8;
  color: #e873c4;
  text-shadow: 0 0 2px #ff4fc3,
    0 0 2px #ff4fc3,
    0 0 2px #ff4fc3
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 50px;
  }
}
